<!DOCTYPE html>
<html lang="en">
  <%- include('./commen/head.ejs')%>
  <body>
    <!-- <% const title = "chouhan"%> -->
    <!-- <%= JSON.stringify(items) %> -->
    <%- include('./commen/navbar.ejs') %>
    <div class="container">
      <ul class="collection with-header">
        <% if (items.length > 0) { %> <% items.forEach((data) => { %>
        <li class="collection-item">
          <div>
            <%= data.name %> <%=data.price %>
            <a href="#!" class="secondary-content">
              <i class="material-icons">edit</i>
              <i class="material-icons">delete</i>
            </a>
          </div>
        </li>

        <% });%> <% } else { %>
        <li>There no items</li>
        <% }%>
      </ul>
    </div>
  </body>
</html>
